<div class="container" ng-app="clinic">
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="active" id="first-tab"><a data-toggle="tab" href="#doctor">Doctor's Info</a></li>
			<li><a data-toggle="tab" href="#office">Office Info</a></li>
			<li><a data-toggle="tab" href="#reminders" id="reminder-tab">Patient Reminders</a></li>
		</ul>
	</div> <!-- row -->
	<div class="tab-content">
		<div class="tab-pane active" id="doctor">
		<%= simple_form_for @collection, html: {multipart: true, id: "form"} do |m| %>
		<%= m.input :clinic_id, as: :hidden, input_html: { value:  @clinic_id} %>
		
			<%= render partial: "collections/tabs/doctor", locals: { :m => m } %>
		</div>
		<div class="tab-pane" id="office">
			<%= render partial: "collections/tabs/office", locals: { :m => m } %>
		</div>
		<div class="tab-pane" id="reminders">
			<%= render partial: "collections/tabs/reminders", locals: { :m => m } %>
		</div>
			<%= m.button :submit, "Submit", :id => "submit" %>
			<% end %>

	</div> <!-- tab content -->
</div><!--  container -->
