	<div class="col-md-7 preview-standard">
		<div class="row">
			<div class="col-md-5 col-md-offset-1" id="doctor-image">
					<% if doctor.image.present? %>
						<%= image_tag doctor.image, id: "image_#{index}" %>
					<% else %>
						<img style="display:none;" src="" alt="Image preview..." id="image_<%= index %>">
					<% end %>
			</div>
			<div class="col-md-5" id="doctor-box">
				<div class="row doctor-text" id="doctor-name">
					<h1><span ng-bind=<%= name %>></span></h1>
				</div>
				<div class="row doctor-text" id="doctor-speciality">
					<h3><span ng-bind=<%= speciality %>></span></h3>
				</div>
				<div class="row doctor-text" id="doctor-bio">
					<p><span ng-bind=<%= bio %>></span></p>
				</div>
			</div>
		</div> <!-- row -->

	</div>



