<% doctor_index = 1 %>
<div class="row docs" data-count="<%= @doctors.to_json %>">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#doctor_0">Doctor 1</a></li>
		<% 4.times do %>
			<li class="hidden" id="doc_tab_<%= doctor_index %>"><a data-toggle="tab" href="#doctor_<%= doctor_index %>">Doctor <%= doctor_index + 1 %></a></li>
			<% doctor_index += 1 %>
		<% end %>
		<li onclick="addDoctor()" ><a data-toggle="tab" href="#">+</a></li>
	</ul>
</div>

<div class="tab-content" id="doctor-tab">
	<div class="row">
		<div class="col-md-2">
			<%= m.input :audio, :collection => @tracks, input_html: {"onchange" => "changeTrack()"}, :include_blank => false %>
		</div>
		<div class="col-md-4" id="player">

		<audio src=<%= asset_path "bensound-acousticbreeze.mp3" %> type="audio/mpeg" controls>
			Your browser does not support the audio element.
		</audio>
		</div>
	</div> <!-- row -->


	<%= m.simple_fields_for :doctors, @doctors do |d| %>
	<div class="tab-pane doctor-tab" id="doctor_<%= d.index %>">
		<div class="row" id="doctor_page">
			<div class="col-md-3">
				<div class="row">		
						<%= d.input :image, as: :file, input_html: {"onchange" => "previewFile(#{d.index})"} %>
						<%= d.input :name, input_html: { "ng-model" => "name_#{d.index}", "ng-init" => "name_#{d.index}='#{d.object.name}'", :maxlength => 23  } %>	
						<%= d.input :speciality, input_html: {"ng-model" => "speciality_#{d.index}", "ng-init" => "speciality_#{d.index}='#{d.object.speciality}'", :maxlength => 20} %>
						<%= d.input :bio, :as => :text,  input_html: { "ng-model" => "bio_#{d.index}", "ng-init" => "bio_#{d.index}='#{d.object.bio}'", "rows" => 10, :maxlength => 600} %>
				</div>	
			</div><!--  col-md-4 -->
			<%= render partial: "themes/standard/doctor_preview.html.erb", locals: {doctor: d.object, name: "name_#{d.index}", speciality: "speciality_#{d.index}", bio: "bio_#{d.index}", index: "#{d.index}"} %>
		</div>  <!-- row -->
	</div>
	
	<% end %>
</div>