<% reminder_index = 1 %>
<div class="row reminds" data-count="<%= @reminders.to_json %>">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#0">1</a></li>
		<% 9.times do %>
			<li class="hidden-reminder" id="remind_tab_<%= reminder_index %>"><a data-toggle="tab" href="#<%= reminder_index %>"><%= reminder_index + 1 %></a></li>
			<% reminder_index += 1 %>
		<% end %>
		<li onclick="addReminder()" ><a data-toggle="tab" href="#">+</a></li>
	</ul>
</div>

<div class="tab-content">	
<%= m.simple_fields_for :reminders, @reminders do |p| %>
			<div class="tab-pane first" id="<%= p.index %>">
				<div class="row">
					<div class="col-md-3">
					<%= p.input :heading, input_html: {"ng-model" => "heading_#{p.index}", "ng-init" => "heading_#{p.index}='#{p.object.heading}'", maxlength: 35 } %>
					<%= p.input :message, :as => :text, input_html: {"ng-model" => "message_#{p.index}", "ng-init" => "message_#{p.index}='#{p.object.message}'", "rows" => 10, maxlength: 300 } %>
					</div>
					<%= render partial: "themes/standard/reminder_preview.html.erb", locals: {heading: "heading_#{p.index}", message: "message_#{p.index}"} %>

					</div>
			</div>
			<% end %>
</div>