<% i = 1 %>
<div class="row">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#0">1</a></li>
		<% 9.times do %>
			<li><a data-toggle="tab" href="#<%= i %>"><%= i + 1 %></a></li>
			<% i += 1 %>
		<% end %>
	</ul>
</div>

<div class="tab-content">	
<%= m.simple_fields_for :reminders, @reminders do |p| %>
			<div class="tab-pane first" id="<%= p.index %>">
				<div class="row">
					<div class="col-md-3">
					<%= p.input :heading, input_html: {"ng-model" => "heading_#{p.index}", "ng-init" => "heading_#{p.index}='#{p.object.heading}'" } %>
					<%= p.input :message, :as => :text, input_html: {"ng-model" => "message_#{p.index}", "ng-init" => "message_#{p.index}='#{p.object.message}'", "rows" => 10 } %>
					</div>
					<%= render partial: "themes/standard/reminder_preview.html.erb", locals: {heading: "heading_#{p.index}", message: "message_#{p.index}"} %>

					</div>
			</div>
			<% end %>
</div>